body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(2, 85, 2);
}